---
layout: inicio
---

<div class="container">
    <h1 class="page-heading">Publicaciones y Noticias</h1>
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <a class="post-image" href="{{ post.url | prepend: site.baseurl }}"><img alt="Post" class="img-responsive" src="img/post/{{ post.miniatura }}"/></a>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p class="post-description">{{ post.description }}</p>
        </li>
        {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
