<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block" src="img/eventoSI/img1.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="img/eventoSI/img2.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="img/eventoSI/img3.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="img/eventoSI/img4.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="img/eventoSI/img5.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="img/eventoSI/img6.jpg" alt="Fotos Evento de Semana Ingenieria y diseño">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="caja-index">
    <h4>Capitulo Estudiantil ACM</h4>
    <p>
        ACM’s Special Interest Groups (SIGs) represent the major areas of the dynamic computing field. A primary source of original research and personal perspectives from the world's leading thinkers in computing and information technology, they foster technical communities within their respective specialties across countries and continents. 
    </p>
</div>
