<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="site-title navbar-brand" href="{{ site.baseurl }}/">
          <img class="logo-pag" alt="logo de ACM" src="{{ site.baseurl }}/img/ACM_logo.png"/>
          {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
              {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
          </ul>
      </div>
  </nav>
</header>
